body{
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.jumbotron{
  padding: 5%;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.header{
  border-radius: 5px;
  background-image: url(http://feelgrafix.com/data/background-images/Background-Images-19.jpg);
  background-position: right bottom;
}

.team{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}
#posinput{
  visibility: hidden;
}

.post-it {
background:#fefabc;
padding:15px;
font-family: 'Gloria Hallelujah', cursive;
font-size:15px;
color: #000;
width:200px;

-moz-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg);

box-shadow: 0px 4px 6px #333;
-moz-box-shadow: 0px 4px 6px #333;
-webkit-box-shadow: 0px 4px 6px #333;

}