<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen" title="no title" charset="utf-8">
    <title>Scrumbag</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <div class="jumbotron">
        <div class="header">
            <h1>Scrumbag</h1>
            <h2>Lägg till aktivitet!</h2>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <button type="button" class="btn btn-default navbar-btn"><a href="/">Startsida</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/addactivity">Lägg till aktivitet</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/activities">Aktiviteter</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/edit">Redigera aktivtet</a></button>
            </div>
        </nav>
        {% if activity %}
        <h1>Redigera {{ activity.name }}</h1>
        <h2>Ändra det du vill ändra!</h2>
        <form action="/updated" id="submit" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <label for="player1">Deltagare</label>
                    <input class="form-control" type="text" name="player1" value="{{activity.player1}}"><br><br>
                    <label for="player2">Deltagare</label>
                    <input class="form-control" type="text" name="player2" value="{{activity.player2}}"><br><br>
                    <label for="player3">Deltagare</label>
                    <input class="form-control" type="text" name="player3" value="{{activity.player3}}"><br><br>
                    <label for="player4">Deltagare</label>
                    <input class="form-control" type="text" name="player4" value="{{activity.player4}}"><br><br>
                    <label for="player5">Deltagare</label>
                    <input class="form-control" type="text" name="player5" value="{{activity.player5}}"><br><br>
                </div>

                <div class="col-md-6">
                    <label for="teamname">Titel</label>
                    <input class="form-control" type="text" name="teamname" value="{{activity.name}}"><br><br>
                    <label for="comment">Lokal</label>
                    <input class="form-control" type="text" name="comment" value="{{activity.location}}"><br><br>
                    <label for="tele">Tid</label>
                    <input class="form-control" type="text" name="tele" value="{{activity.time}}"><br><br>
                    <label for="email">Ansvarig</label>
                    <input class="form-control" type="text" name="email" value="{{activity.contact}}"><br><br>
                    <input class="form-control" id="posinput" type="text" name="pos" value="{{activity.pos}}"><br><br>
                </div>
            </div>
            <input type="submit" value="Genomför ändringar!" class="btn btn-success">
        </form>
        {% else %}
        <form action="/done" id="submit" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" name="player5" placeholder="Deltagare">
                    <br><br>
                    <input class="form-control" type="text" name="player1" placeholder="Deltagare">
                    <br><br>
                    <input class="form-control" type="text" name="player2" placeholder="Deltagare">
                    <br><br>
                    <input class="form-control" type="text" name="player3" placeholder="Deltagare">
                    <br><br>
                    <input class="form-control" type="text" name="player4" placeholder="Deltagare">
                    <br><br>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="teamname" placeholder="Titel">
                    <br><br>
                    <input class="form-control" type="text" name="comment" placeholder="Lokal">
                    <br><br>
                    <input class="form-control" type="text" name="tele" placeholder="Tid">
                    <br><br>
                    <input class="form-control" type="text" name="email" placeholder="Ansvarig">
                    <br><br>
                </div>
            </div>
            <input type="submit" value="Lägg till aktiviteten!" class="btn btn-success">
        </form>
        {% endif %}
</body>

</html>
