<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <div class="jumbotron">
        <div class="header">
            <h1>Scrumbag</h1>
            <h2>Sök och redigera</h2>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <button type="button" class="btn btn-default navbar-btn"><a href="/">Startsida</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/addteam">Lägg till aktivitet</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/teams">Aktiviteter</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/edit">Redigera aktivtet</a></button>
            </div>
        </nav>
        <h2>Viken aktivitet ska ändras?</h2>
        <form action="/addteam" id="searcher" method="POST">
            <input class="form-control" type="text" name="searching" placeholder="e.g backlog">
            <br>
            <input type="submit" name="searchfield" class="btn btn-info">
        </form>
    </div>
</body>
</html>
